<!--All IPOs Table Start-->
<div class="content" role="main">
  <table datatable class="table"  style="border:1px solid #f3f3f3">
    <thead>
      <tr>
        <!-- <th>Index</th> -->
        <th>IPO ID</th>
        <th>Company Name</th>
        <th>Stock Exchange</th>
        <th>Price Per Share</th>
        <!-- <th>Total Number of Shares</th> -->
        <!-- <th>Open Date Time</th> -->
        <!-- <th>Remarks</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ipo of ipos; let i = index" [attr.data-index]="i">
        <!-- <td>{{i}}</td> -->
        <td>{{ipo.ipoid}}</td>
        <td>{{ipo.companyName}}</td>
        <td>{{ipo.stockExchange}}</td>
        <td>{{ipo.pricePerShare}}</td>
        <!-- <td>{{ipo.totalNumber}}</td> -->
        <!-- <td>{{ipo.openDateTime}}</td> -->
        <!-- <td>{{ipo.ipoRemarks}}</td> -->
        <td><input class="btn btn-info" type="button" value="Detail" data-toggle="modal" data-target="#deatil-btn-ipo" (click)="currentIpo(i)" />
        </td>
        <!--IPO Detail Start-->
        <div class="modal fade" id="deatil-btn-ipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form class="form-editipo">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelipo">IPO Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                        <span><label for="IPOID">Exchange ID</label>
                        <input type="text" class="form-control" id="IPOID" name="exchangeid" [(ngModel)]="ipoForm.ipoid" #IPOID="ngModel" readonly></span>
                      </div>
                    <div class="form-group">
                      <span><label for="CompanyName">Stock Exchange</label>
                      <input type="text" class="form-control" id="CompanyName" name="CompanyName" [(ngModel)]="ipoForm.companyName" #CompanyName="ngModel" readonly></span>
                    </div>
                    <div class="form-group">
                        <span><label for="stockExchange">Stock Exchange</label>
                        <input type="text" class="form-control" id="stockExchange" name="stockExchange" [(ngModel)]="ipoForm.stockExchange" #stockExchange="ngModel" readonly></span>
                      </div>
                    <div class="form-group">
                        <span><label for="pricepershare">Price Per Share</label>
                        <input type="text" class="form-control" id="pricepershare" name="pricepershare" [(ngModel)]="ipoForm.pricePerShare" #pricepershare="ngModel" readonly></span>
                      </div>
                    <div class="form-group">
                        <span><label for="totalshares">Total Number of Shares</label>
                          <input type="text" class="form-control" id="totalshares" name="totalshares" [(ngModel)]="ipoForm.totalNumber" #totalshares="ngModel" readonly></span>
                    </div>
                    <div class="form-group">
                      <span><label for="opendatetime">Open Date Time</label>
                      <input type="text" class="form-control" id="opendatetime" name="opendatetime" [(ngModel)]="ipoForm.openDateTime" #opendatetime="ngModel" readonly placeholder="YYYY-mm-dd hh:mm:ss"></span>
                      </div>
                    <div class="form-group">
                        <span><label for="remarks">Remarks</label>
                        <input type="text" class="form-control" id="remarks" name="remarks" [(ngModel)]="ipoForm.ipoRemarks" #remarks="ngModel" readonly></span>
                      </div>
                </div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-primary" data-dismiss="modal" value= "Close"/>
                </div>
              </div>
            </div>
          </form>
        </div> 
      <!--IPO Detail End-->
      </tr>
    </tbody>
  </table>
</div>
<!--All IPOs Table End-->

