
    <div class="big-main">
        <div class="page-header" style="padding: 3%;">
            <h1>Compare Company</h1>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3"><span style="font-size: large;">Select Company/Sector:</span>&nbsp;</div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-3"><span style="font-size: large;">Select Stock Exchange:</span>&nbsp;&nbsp;</div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-3"><span style="font-size:large">From Peroid:</span></div>
            <div class="col-md-3">
                
                <!--指定 date标记-->
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3"><span style="font-size:large">To Peroid:</span>&nbsp;&nbsp;</div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-3"><span style="font-size:large">Specify Periodicity:</span>&nbsp;&nbsp;</div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 2%;">
            <div class="col-md-2 offset-md-5">
                <button type="button" class="btn btn-warning" style="width: 100%;">Generate Map</button>
            </div>
        </div>

        <div>
            <fusioncharts
                width="500"
                height="300"
                type="column2d"
                dataFormat="json"
                [dataSource]="data" >
            </fusioncharts>
        </div>
        
    </div>
    