/* You can add global styles to this file, and also import other style files */
html,body,app-root{
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}